<app-status [status]="status"></app-status>
<h1>
  <app-type [type]="resource"></app-type>: {{name}}
</h1>
<main class="mx-auto jumbotron" role="main">
  <form (ngSubmit)="login()" [ngClass]="{'was-validated': submitted }">
    <div class="form-group" *ngFor="let value of values">
      <label [attr.name]="value.name">{{cleanKey(value.name)}}</label>
      <ng-container [ngSwitch]="value.type">
        <input *ngSwitchCase="'string'" type="text" class="form-control" [attr.name]="value.name" [value]="value.value" readonly />
        <textarea *ngSwitchCase="'long_string'" type="text" class="form-control" [attr.name]="value.name" readonly>{{value.value}}</textarea>
        <div *ngSwitchCase="'links'">
          <a class="card-link" *ngFor="let link of value.links; index as i" [attr.name]="value.name+i" [routerLink]="link.relativePath" [attr.routerlink]="link.relativePath">{{getNameTitleByUrl(link.relativePath) | async}}</a>
        </div>
      </ng-container>
    </div>
  </form>
</main>